
.image {
    background-color: #490D40;
    background: url(https://mobirise.com/bootstrap-template/assets/images/mbr-1-1626x1080.jpg) no-repeat center center;
    background-size: cover;
    height: 570px;
    margin-top: -20px;
}
.heading {
       color: white;
       text-align: center;
       padding-top: 200px;
}
 
p {
       text-align: center;
       padding: 20px 60px;
}       
.btn {
          background-color: transparent;
          color: white;
          border: 1px solid white;
          padding: 10px;
          font-size: 1.2em;
        }              
           .btn:hover {
              color: #C57ED3;
              border-color: #C57ED3;
           }
       
    
 
 
 .navbar {
   height: 80px;
   background-color: transparent;
   border: none;
   color: white;
   z-index: 100;
   transition: background-color 1s ease 0s;
 }
 


 .navbar-default .navbar-brand {
      margin-top: 10px;
      color: white;
    }
.navbar-default .navbar-brand:hover {
          color: #C57ED3;
          border: 1px solid #C57ED3;
       } 

    
   .navbar-nav> li > a {
         color: white;
         margin: 10px 5px 5px 5px;
         
       }
.navbar-nav> li > a> a:hover, .navbar-nav> li > a> a:active, .navbar-nav> li > a> a:focus {
         color: #C57ED3;
         border: 1px solid #C57ED3;
       }
       .navbar-nav> li > a> a:visited {
         color: #C57ED3;
         text-decoration: none;
       }
 
/* end li */
 
.navbar-nav> .active> a, .navbar-nav> .active> a:hover, .navbar-nav> .active> a:focus {
         background-color: transparent;
         color: #C57ED3;
       }
 
     }
 
   } 
/* end .navbar-nav */
 
   //Collapsed styles
   .navbar-toggle {
     border-color: #C57ED3;
    }
     .navbar-toggle:hover, .navbar-toggle:focus {
         background-color: #490D40;
       }
 
 
 
       .icon-bar {
         color: #C57ED3;
         background-color: #C57ED3;
 
       }
   
 
   .navbar-collapse.collapse.in ul {
     background-color: #490D40;
   }
     
/* end .navbar-default */
 
 
 
 /* Solid class attached on scroll past first section */
 
 .navbar.solid {
   background-color: #490D40;
   transition: background-color 1s ease 0s;
   box-shadow: 0 0 4px grey;
}
.navbar.solid.navbar-brand {
       color: #C57ED3;
       transition: color 1s ease 0s;
     }
 
.navbar.solid .navbar-brand .navbar-nav > li > a {
             color: #C57ED3;
             transition: color 1s ease 0s;
            }
/* end li */
 
/* end .navbar-nav */
 
 
header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    background: transparent;
    border: 0;
}
.header-content {
    display: flex;
}
@media (min-width: 768px){
.header.content {
    padding: 12px 15px;
    text-align: left;
}}
.header .logo-box {
    flex-grow: 1;
}
.header-panel {
    display: flex;
    align-self: flex-end;
    float: none;
    padding: 5px 0;
    z-index: 5;
    flex-grow: 2;
    flex-direction: column;
}
.topbar-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 0;
}
.main-header-panel {
    padding: 20px 0 10px;
}
.main-header-panel, .page-header.type17 .topbar-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 0;
}
ul{
    list-style: none;
}